.advantages {
	width: 100%;
	height: 270px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: table;
	&__text {
		display: table-cell;
		vertical-align:middle;
		p {
			color: $title;
			margin: 0 0 0 80px;
		}
		p:first-child {
			font-family: 'FiraSansCondensed-Book';
			font-size: 24px;
			line-height: 24px;
		}
		p:last-child {
			font-family: 'FiraSansCondensed-Bold';
			font-size: 40px;
			line-height: 55px;
		}
	}
}
@media (max-width: 1023px) {
	.advantages {
		height: 230px;
		p:first-child {
			font-size: 18px;
			line-height: 18px;
		}
		p:last-child {
			font-family: 'FiraSansCondensed-Bold';
			font-size: 30px;
			line-height: 45px;
		}
	}
}
