.basket {
	&__header {
		background-color: $block-header;
		color: $block-header-text;
		font-size: 13px;
		font-family: 'FiraSansCondensed-Light';
		.basket__col {
			padding: 0 0 0 18px;
			line-height: 50px;
		}
	}
	&__header::before,
	&__header::after {
		content: "";
		display: table;
		clear: both;
	}
	&__col {
		float: left;
	}
	&__position {
		width: 46.3%;
	}
	&__count {
		width: 22.5%;
	}
	&__nds {
		width: 17.2%;
	}
	&__cost {
		width: 14%;
	}
	&__item {
		position: relative;
		padding: 20px 0;
		border-bottom: 1px solid $horizontal-line;
	}
	&__item:last-child {
		border: 0;
	}
	&__item::before,
	&__item::after {
		content: "";
		display: table;
		clear: both;
	}
	&__img {
		float: left;
		width: 90px;
		img {
			object-fit: cover;
			width: 100%;
		}
	}
	&__order-name {
		float: left;
		margin: 0 0 0 20px;
		.brand-item__name {
			width: 230px;
			height: auto;
		}
		.brand-item__article {
			margin: 0;
		}
	}
	&__money {
		margin: 0 0 0 18px;
		font-size: 19px;
		line-height: 1;
	}
	&__remove {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
	&__remove::before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		position: relative;
		background-image: url(../img/basket-remove.png);
		background-repeat: no-repeat;
	}
	&__footer {
		width: 100%;
		height: 80px;
		background-color: $block-header;
		color: $block-header-text;
		font-size: 13px;
		font-family: 'FiraSansCondensed-Light';
		.basket__col {
			padding: 0 0 0 18px;
		}
		.product__features {
			float: right;
			width: 30%;
			margin: 25px 30px 0 0;
		}
		.product__features-name {
			background-color: $block-header;
			font-size: 24px;
			font-family: 'FiraSansCondensed-Regular';
		}
		.product__features-val {
			width: auto;
			background-color: $block-header;
			font-size: 30px;
			font-family: 'FiraSansCondensed-Bold';
			line-height: 36px;
		}
	}
	&__footer::before,
	&__footer::after {
		content: "";
		display: table;
		clear: both;
	}
	&__btn {
		margin: 20px 0 40px 0;
		a {
			color: $main-color;
			font-size: 14px;
			line-height: 40px;
		}
		a:hover {
			color: $main-color-hover;
			text-decoration: underline;
		}
	}


	&__header-mob {
		display: none;
	}
	&__col-title {
		display: none;
	}
	&__count-wrapp {
		label {
			display: none;
		}
	}
}
@media (max-width: 900px) {
	.basket__footer .product__features {
		width: 45%;
	}
}
@media (max-width: 780px) {
	.basket__position {
		width: 40%;
	}
	.basket__order-name .brand-item__name {
		width: 155px;
	}
	.basket__img {
		width: 60px;
	}
}
@media (max-width: 639px) {
	.basket {
		&__header {
			.basket__position {
				display: none;
			}
			.basket__count {
				display: none;
			}
			.basket__nds {
				display: none;
			}
			.basket__cost {
				display: none;
			}
		}
		&__header-mob {
			display: block;
		}
		&__item {
			.basket__col {
				width: 100%;
			}
			.basket__remove {
				bottom: 25px;
				left: 10px;
				top: auto;
				right: auto;
			}
			.basket__img {
				width: 25%;
			}
			.basket__order-name {
				width: 65%;
				* {
					width: auto;
				}
			}
			.basket__money {
				display: inline-block;
				margin: 5px 0 0 25%;
				padding: 0 0 0 18px;
			}
			.rir-input_basket {
				display: inline-block;
				height: 30px;
				/*margin: 5px 0 0 25%;*/
				margin-left: calc(25% + 18px);

			}
		}
		&__count-wrapp {
			position: relative;
			display: inline-block;
			margin-left: calc(25% + 18px);
			label {
				display: block;
				color: $block-header-text;
				line-height: 22px;
			}
		}
		&__count {
			position: relative;
			margin: 10px 0 0 0;
		}
		&__count-minus,
		&__count-plus {
			position: absolute;
			width: 40px;
			height: 30px;
			background-color: $block-header;
			cursor: pointer;
		}
		&__count-plus {
			top: 22px;
			left: 0;
		}
		&__count-minus {
			top: 22px;
			right: 0;
		}
		&__count-plus::after {
			content: "";
			display: block;
			position: relative;
			background-image: url(../img/basket-plus.png);
			background-repeat: no-repeat;
			width: 10px;
			height: 10px;
			top: 10px;
			left: 15px;
		}
		&__count-minus::after {
			content: "";
			display: block;
			position: relative;
			background-image: url(../img/basket-minus.png);
			background-repeat: no-repeat;
			width: 10px;
			height: 2px;
			top: 14px;
			left: 15px;
		}
		&__col-title {
			display: block;
			margin-left: calc(25% + 18px);
			font-size: 13px;
			color: $block-header-text;
			font-family: 'FiraSansCondensed-Light';
			margin-top: 15px;
			margin-bottom: 0;
		}
		&__money {
			margin-top: 0;
		}
		.rir-input_basket {
			width: 150px;
			margin: 0;
			text-align: center;
		}
		&__footer {
			.product__features {
				float: none;
				width: 100%;
				padding: 0 20px;
			}
		}
		&__btn {

		}
	}

}
