.owl-carousel-brand {
	margin: 0 0 55px 0;
	img {
		max-width: 160px;
	}
	.item {
		a {
			display: block;
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
	.owl-nav {
		display: block !important;
	}
	.owl-prev {
		left: 10px;
	}
	.owl-next {
		right: 10px;
	}
}

.brand {
	&__item {
		margin: 0 0 1.875rem 0;
		a {
			width: 100%;
			height: 10%;
			display: block;
			max-height: 270px;
			border: 1px solid $horizontal-line;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.brand-section {
	margin: 0 0 1.875rem 0;
	min-height: 210px;
	&__logo {
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__img {
		position: relative;
		height: 150px;/*
		background-image: url(../img/brand-cat1.png);
		background-repeat: no-repeat;
		background-color: rgba(0,84,183, .2);*/
		background-repeat: no-repeat;
		/*background-size: 80%;*/
		background-position: 50%;
	}
	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,84,183, .1);
	}
	&__title {
		font-family: 'FiraSansCondensed-Medium';
		font-size: 16px;
		color: $brand-section-title;
		margin: 15px 0 0 0;
	}
}
.brand-section:hover .brand-section__hover {
	background-color: rgba(75, 49, 9, .1);
}
.brand-section:hover .brand-section__title {
	color: $brand-section-title_hover;
	text-decoration: underline;
}
.brand-item {
	margin: 0 0 1.875rem 0;
	&__img {
		height: 210px;
		overflow: hidden;
		img {
			height: 100%;
		}
	}
	&__name {
		display: inline-block;
		color: $brand-item;
		font-size: 14px;
		line-height: 1.3;
		margin: 5px 0 0 0;
		height: 38px;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: 'FiraSansCondensed-Regular';
	}
	&__name:hover {
		color: $brand-item_article_hover;
		text-decoration: underline;
	}
	&__article {
		margin: 8px 0 0 0;
		color: $brand-item_article;
		font-size: 13px;
		span {
			color: $brand-item_article-name;
		}
	}
	&__price {
		margin: 10px 0 15px 0;
		font-size: 19px;
		font-family: 'FiraSansCondensed-Bold';
		color: $brand-item_price;
	}
	&__link:hover {
		.brand-item__name {
			color: $brand-item_article_hover;
			text-decoration: underline;
		}
	}
}
@media (max-width: 900px) {
	.brand-item__name {
		height: 56px;
	}
}

@media (max-width: 639px) {
	.brand-item {
		&__name {
			height: auto;
		}
	}
	.brand-section {
		min-height: 160px;
		&__img {
			height: 125px;
			min-height: auto;
		}
	}
}
