.breadcrumbs {
	margin: 30px 0 0 0;
	li {
		color: $breadcrumbs;
		text-transform: none;
		font-family: 'FiraSansCondensed-Light';
		font-size: 13px;
		a {
			color: $breadcrumbs;
			text-transform: none;
			font-family: 'FiraSansCondensed-Light';
			font-size: 13px;
		}
	}
}
.breadcrumbs li:not(:last-child)::after {
	top: 0;
}

@media (max-width: 639px) {
	.breadcrumbs {
		display: inline-block;
	}
}
