.rir-btn {
	background-color: $btn;
	color: #FFF;
	border: 0;
	line-height: 35px;
	border-radius: 5px;
	font-size: 15px;
	font-family: 'FiraSansCondensed-Bold';
	padding: 0 20px;
	cursor: pointer;
	transition: .15s;
}
.rir-btn:hover,
.rir-btn:focus {
	background-color: $menu_hover;
	border: 0;
}

.rir-btn_mob {
	width: 100%;
	line-height: 40px;
}
.rir-btn_mob:hover {
	background-color: $mob-menu_item;
}
.rir-btn_product {
	height: 40px;
	margin: 0 15px 0 0;
	float: left;
}
.rir-btn_order,
.rir-btn_basket {
	float: right;
	height: 40px;
}
.rir-btn_order {
	margin: 20px 0 60px 0;
}
