$header_top: #e6eaf0;
$input_border: #d0dae6;
$menu_color: #0054b7;
$menu_hover: #4c98f1;
$menu_dropdown_hover: #e8f3ff;
$menu_dropdown_border: #67a7f3;
$mob-menu_item: #2369bc;
$mob-menu_text: #fefeff;
$mob-search_result: #abd2ff;

/* ----- Slider ----- */

$slider_text: #0c223b;
$slider_dots_hover: #deb77c;
$slider_prev: #e3d6c2;
$slider_prev_hover: #deb77c;

/* ---------------------- */

$title: #0c223b;
$horizontal-line: #e6eaf0;
$btn: #0054b7;
$footer: #e6eaf0;
$footer_line: #cfd7e2;
$footer_cop: #a5a9b1;
$mob-input: #e4f0ff;
$popup-back: rgba(12, 34, 59, .75);
$breadcrumbs: #acb0b7;
$brand-section-title: #0054b7;
$brand-section-title_hover: #b48a4b;


/* ----- Brand Item ----- */

$brand-item: #0054b7;
$brand-item_article: #a5a9b1;
$brand-item_article_hover: #b48a4b;
$brand-item_article-name: #0c223b;
$brand-item_price: #0c223b;

/* ---------------------- */



$pagination_prev: #a5a9b1;
$pagination_active: #0054b7;


$news_title: #0054b7;
$news_title-hover: #4c98f1;
$news_time: #a5a9b1;
$news_border: #e6eaf0;


$line-color: #cfd7e2;

$main-color: #0054b7;
$main-color-hover: #4c98f1;
$main-text: #0c223b;
$alert-attention: #c39191;
$alert-attention_back: #ffe4e4;

$product-features: #a5a9b1;
$product-options: #e6eaf0;

$contacts-legal: #823f3e;

$block-header: #e6eaf0;
$block-header-text: #a5a9b1;
