.contacts {
	&__info {
		padding: 35px;
		border: 4px solid $horizontal-line;
	}
	&__legal {
		display: inline-block;
		padding: 0 10px;
		margin: 0;
		color: #FFF;
		line-height: 23px;
		background-color: $contacts-legal;
		font-family: 'FiraSansCondensed-Medium';
	}
	&__wrap {
		margin: 30px 0 0 0;
	}
	&__title {
		font-size: 14px;
		margin: 0;
	}
	&__data {
		margin: 0;
		line-height: 36px;
		font-size: 30px;
		font-family: 'FiraSansCondensed-Medium';
	}
	&__data_addr {
		font-size: 18px;
	}
	&__forms::before,
	&__forms::after {
		content: "";
		display: table;
		clear: both;
	}
	&__forms {
		margin: 0;
		input[type="radio"] {
			display: none;
		}
		> label {
			display: block;
			float: left;
			width: 130px;
			margin: 0 0 20px 0;
			border: 2px solid $mob-menu_item;
			color: $mob-menu_item;
			line-height: 35px;
			font-size: 14px;
			font-family: 'FiraSansCondensed-Medium';
			text-align: center;
		}
		label[for*='-callback'] {
			border-radius: 5px 0 0 5px;
		}
		label[for*='-write'] {
			border-radius: 0 5px 5px 0;
		}
		input[type="radio"]:checked + label{
			background-color: $mob-menu_item;
			color: #FFF;
		}
		input[id*='-callback']:checked ~ .contacts__callback {
			display: block;
		}
		input[id*='-write']:checked ~ .contacts__write {
			display: block;
		}
	}
	&__write,
	&__callback {
		display: none;
		width: 100%;
		float: left;
		textarea,
		input {
			margin: 0 0 10px 0;
		}
		textarea {
			min-height: 80px;
		}
	}
	&__map {
		margin: 40px 0;
		border: 4px solid $horizontal-line;
	}
}

@media (max-width: 639px) {
	.contacts {
		&__legal {
			line-height: 1.1;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		&__legal,
		&__title {
			font-size: 13px;
		}
		&__data {
			font-size: 28px;
		}
		&__data_addr {
			font-size: 16px;
			line-height: 1.3;
		}
		&__forms {
			margin: 30px 0 0 0;
			> label {
				width: 50%;
			}
		}
	}
	.rir-input_contacts {
		width: 100%;
	}
}
