.filter {
	padding: 15px;
	margin: 0 0 30px 0;
	background-color: $block-header;
	* {
		font-size: 13px;
	}
	span {
		display: inline-block;
		color: $block-header-text;
	}
	a {
		margin: 0 0 0 17px;
		color: $main-color;
	}
	a:hover {
		color: $main-color-hover;
		text-decoration: underline;
	}
	a.filter_active {
		color: $main-color-hover;
	}
	label {
		float: left;
		display: inline-block;
		font-family: 'FiraSansCondensed-Bold';
		font-size: 14px;
		line-height: 40px;
	}
	select {
		width: 200px;
		height: 40px;
		border-radius: 5px;
		margin: 0 0 0 15px;
		font-size: 15px;
		color: $block-header-text;
		font-family: 'FiraSansCondensed-Bold';
	}
}
.filter::before,
.filter::after {
	content: "";
	display: table;
	clear: both;
}
@media (max-width: 639px) {
	.filter {
		text-align: center;
		span {
			display: none;
		}
		a {
			width: 50%;
			float: left;
			margin: 0;
		}
		label {
			display: block;
			font-size: 13px;
			font-family: 'FiraSansCondensed-Light';
			color: $block-header-text;
			line-height: 20px;
		}
		select {
			width: 100%;
			margin: 0;
			font-size: 14px;
			height: 35px;
		}
	}
}
