@font-face {
  font-family: 'FiraSansCondensed-Light';
  src: url(../fonts/FiraSansCondensed-Light_0.otf);
}
@font-face {
  font-family: 'FiraSansCondensed-LightItalic';
  src: url(../fonts/FiraSansCondensed-LightItalic_1.otf);
}
@font-face {
  font-family: 'FiraSansCondensed-Bold';
  src: url(../fonts/FiraSansCondensed-Bold_1.otf);
}
@font-face {
  font-family: 'FiraSansCondensed-Medium';
  src: url(../fonts/FiraSansCondensed-Medium_0.otf);
}
@font-face {
  font-family: 'FiraSansCondensed-Book';
  src: url(../fonts/FiraSansCondensed-Book_0.otf);
}
@font-face {
  font-family: 'FiraSansCondensed-Regular';
  src: url(../fonts/FiraSansCondensed-Regular_0.otf);
}
