footer {
	padding: 30px 0 0 0;
	background-color: $footer;
}
.footer {
	&__menu {
		margin: 0;
		li {
			list-style: none;
			display: inline-block;
			margin: 0 40px 0 0;
			a {
				color: $menu_color;
				transition: .15s;
				font-family: 'FiraSansCondensed-Regular';
				font-size: 15px;
			}
			a:hover,
			a:focus {
				color: $menu_hover;
			}
		}
	}
	&__info {
		text-align: right;
		b {
			display: block;
			color: $title;
		}
		p {
			font-size: 13px;
			font-family: 'FiraSansCondensed-Regular';
		}
	}
	&__info-title {
		display: none;
		margin: 0;
	}
	&__cop,
	&__cop-mob {
		font-family: 'FiraSansCondensed-Regular';
		color: $footer_cop;
		font-size: 13px;
		margin: 23px 0 0 0;
	}
	&__cop-mob {
		display: none;
	}
}

@media (max-width: 1023px) {
	.footer {
		&__menu {
			li {
				margin: 0 35px 0 0;
			}
		}
		&__cop {
			margin: 17px 0 0 0;
		}
		&__info-title {
			display: block;
		}
	}
}

@media (max-width: 639px) {
	.footer {
		&__line {
			height: 0;
		}
		&__menu {
			text-align: center;
			li {
				display: block;
				margin: 0 0 10px 0;
				a {
					font-size: 14px;
				}
			}
			li:last-child {
				margin: 0 0 40px 0;
			}
		}
		&__cop {
			display: none;
		}
		&__info {
			text-align: center;
			b {
				font-size: 20px;
			}
			p:last-child {
				margin: 0 0 30px 0;
			}
		}
		&__info-title {
			display: none;
		}
		&__cop-mob {
			text-align: center;
			display: block;
		}
	}
}
