header {
	padding: 30px 0;
	font-family: 'FiraSansCondensed-Light';
	font-size: 14px;
}
.header {
	&__logo{
		img {
			width: 100%;
		}
	}
	&__search {
		position: relative;
	}
	&__search-submit {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 5px;
		top: 7px;
		background: url(../img/search.png) no-repeat;
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}
	&__mob-info {
		background-color: $header_top;
	}
	&__info {
		display: inline-block;
		line-height: 16px;
		margin: 0 0 7px 0;
	}
	&__tel {
		b {
			display: block;
			line-height: 18px;
			font-size: 16px;
			margin-left: 60px;
		}
		p {
			margin: 7px 0 0 0;
			line-height: 16px;
			margin-left: 60px;
			font-size: 13px;
		}
	}
	&__basket {
		i {
			line-height: 16px;
		}
	}
	&__basket-info {
		margin: 6px 0 0;
		line-height: 14px;
		font-size: 14px;
		width: auto;
	}
	&__basket-order {
		font-size: 13px;
	}
}

@media (max-width: 1023px) {
	.header {
		&__logo {
			img {
				width: auto;
				height: 70px;
			}
		}
		&__tel {
			b {
				margin-left: 0px;
				line-height: 20px;
				font-size: 15px;
			}
			p {
				margin-top: 14px;
				margin-left: 0px;
			}
		}
		&__basket-info{
			margin-top: 2px;
			width: 125px;
		}
		&__info {
			height: 32px;
			text-overflow:ellipsis;
			overflow: hidden;
			margin: 0 0 1px 0;
		}
	}
}
@media (max-width: 639px) {
	header {
		padding: 0;
	}
	.header {
		&__mob-info {
			text-align: center;
			line-height: 40px;
			* {
				font-size: 16px;
			}
		}
		&__logo {
			text-align: center;
			margin: 30px 0 30px 0;
			img {
				max-width: 170px;
				height: auto;
			}
		}
	}
}
