.information {
	background-color: $footer;
	padding: 40px 0 0 0;
	font-family: 'FiraSansCondensed-Light';
	font-size: 13px;
	color: $title;
	p:last-child {
		margin: 0;
	}
	&__line {
		width: 100%;
		height: 2px;
		background-color: $footer_line;
		margin-top: 30px;
	}
}

@media (max-width: 639px) {
	.information {
		display: none;
	}
}
