.rir-input {
	border: 1px solid $input_border;
	box-shadow: none;
	border-radius: 5px;
	height: 30px;
	margin: 0;
	text-overflow:ellipsis;
	overflow: hidden;
	padding-right: 20px;
	font-size: 14px;
}
.rir-input:hover,
.rir-input:focus {
	border: 1px solid $input_border;
	box-shadow: none;
}
.rir-input_mob-search {
	height: 40px;
	background-color: $mob-input;
}
.rir-input_product {
	width: 90px;
	height: 40px;
	float: left;
	margin: 0 15px 0 0;
}
.rir-input_contacts {
	height: 40px;
	margin: 0 0 15px 0 !important;
}
.rir-input_basket {
	width: 90px;
	height: 40px;
	margin: 0 0 0 18px;
}
.rir-input_order {
	height: 40px;
	margin: 0 0 10px 0;
}
