.mob-menu {
	display: none;
}
.menu {
	background-color: $menu_color;
	&__item {
		position: relative;
		transition: .15s;
	}
	&__item:hover {
		background-color: $menu_hover;
		cursor: pointer;
		.menu__dropdown {
         visibility: visible;
         opacity: 1;
         transition-delay: 1s;
		}
	}
	&__item > a {
		color: #FFF;
		margin: 25px 15px 25px 15px!important;
		padding: 0 !important;
		position: relative;
		font-family: 'FiraSansCondensed-Regular';
	}
	&__item:first-child > a {
		margin: 25px 25px 25px 30px!important;
	}
	&__item:first-child > a::after {
		content: "";
		position: absolute;
		top: 7px;
		right: -14px;
		background: url(../img/menu_arrow.png) no-repeat;
		width: 8px;
		height: 4px;
		transition: .3s;
	}
	&__item:first-child:hover > a::after {
		transform: rotate(180deg);
      transition-delay: 1s;
	}
	&__dropdown {
		position: absolute;
		z-index: 1000;
		top: 66px;
		left: 0;
		margin: 0;
      visibility: hidden;
      opacity: 0;
      transition: .3s;
		li {
			position: static;
			list-style: none;
			background-color: $menu_hover;
			width: 290px;
			line-height: 18px;
			border-bottom: 1px solid $menu_dropdown_border;
			transition: .15s;
		}
		li:first-child {
			border: 1px solid $menu_dropdown_border;
		}
		li > a {
			position: relative;
			color: #FFF;
			font-size: 16px;
			line-height: 16px;
			font-family: 'FiraSansCondensed-Light';
			padding: 13px 35px 13px 20px;
			display: inline-block;
		}
		.hover,
		li:hover {
			background-color: $menu_dropdown_hover;
		}
		li:hover > .menu__dropdown-second {
			display: block;
		}
		li.hover > a,
		li:hover > a {
			color: $title;
		}
	}
	&__submenu {
		position: relative;
	}
	&__submenu > a::after {
		content: "";
		width: 4px;
		height: 7px;
		position: absolute;
		top: 45%;
		right: 20px;
		background-image: url(../img/mob-arrow.png);
		background-repeat: no-repeat;
		display: block;
	}
	&__submenu:hover > a::after {
		background-image: url(../img/mob-arrow-bl.png);
		background-repeat: no-repeat;
	}
	&__dropdown-second {
		position: absolute;
		left: 290px;
		background-color: $menu_dropdown_hover;
		top: 0;
		width: 100%;
		display: none;
		z-index: 10
	}
		&__dropdown-columns {
			width: 50%;
			float: left;
			padding: 10px 0 0 20px;
			a {
				display: block;
				margin: 0 0 10px 0;
			}
		}
			&__dropdown-title {
				color: $menu_color;
				font-family: 'FiraSansCondensed-Medium';
				font-size: 15px;
			}
			&__dropdown-title:hover,
			&__dropdown-link:hover {
				color: $title;
			}
			&__dropdown-link {
				font-size: 14px;
				font-family: 'FiraSansCondensed-Light';
			}
}
.menu > li > a {
	font-size: 16px;
}

@media (max-width: 780px) {
	.menu__dropdown-columns {
		width: 100%;
		padding-right: 20px;
	}
	.menu > li > a {
		font-size: 14px;
	}
}

@media (max-width: 639px) {
	.test {
		display: none;
	}
	.mob-menu {
		display: block;
		position: relative;
		margin: 0;
		background-color: $menu_color;
		font-size: 0;
		.active > .mob-menu__sub {
			display: block;
		}
		&__close {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
		}
		&__close::after {
			content: "";
			background-image: url(../img/close-icon.png);
			background-repeat: no-repeat;
			width: 12px;
			height: 14px;
			display: block;
		}
		&__item {
			list-style: none;
			display: inline-block;
			background-color: $mob-menu_item;
			font-size: 16px;
			text-align: center;
			color: $mob-menu_text;
		}
			&__item > span {
				line-height: 60px;
				display: block;
			}
			&__item_menu {
				margin: 0;
				width: 36%;
			}
			&__item_menu > span::before {
				content: "";
				background-image: url(../img/menu-icon.png);
				background-repeat: no-repeat;
				width: 19px;
				height: 17px;
				display: inline-block;
				margin-right: 10px;
				top: 3px;
				position: relative;
			}
			&__item_contacts {
				width: 43%;
				margin-left: 2%;
				margin-right: 2%;
			}
			&__item_contacts > span::before {
				content: "";
				background-image: url(../img/contacts-icon.png);
				background-repeat: no-repeat;
				width: 15px;
				height: 15px;
				display: inline-block;
				margin-right: 10px;
				top: 2px;
				position: relative;
			}
			&__item_search {
				width: 17%;
				/*height: 100%;*/
			}
			&__item_search:active {
				.test {
					display: block;
				}
			}
			.test:hover {
				display: block;
			}
			&__item_search > span::before {
				content: "";
				background-image: url(../img/search-icon.png);
				background-repeat: no-repeat;
				width: 15px;
				height: 15px;
				display: inline-block;
				top: 2px;
				position: relative;
				cursor: pointer;
			}
	}
	.mob-menu__item_menu.active .mob-menu__sub {
		display: block;
	}
	.mob-menu > .active {
		background-color: $menu_hover;
	}
	.mob-search {
		background-color: $menu_hover;
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 16px;
		z-index: 999;
		display: none;
		a {
			display: block;
			color: #FFF;
		}
		&__title {
			line-height: 55px;
			color: #FFF;
		}
		&__body {
			margin: 20px 0;
		}
		&__result {
			font-family: 'FiraSansCondensed-Light';
			color: $mob-search_result;
		}
		&__cat {
			a {
				margin: 0;
				line-height: 24px;
				font-family: 'FiraSansCondensed-Medium';
			}
			a:last-child {
				margin: 0 0 15px 0;
			}
		}
		&__product {
			a {
				margin: 0;
				line-height: 20px;
				font-size: 14px;
				font-family: 'FiraSansCondensed-Light';
			}
			a:last-child {
				margin: 0 0 15px 0;
			}
		}
	}
	.mob-contacts {
		background-color: $menu_hover;
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 16px;
		z-index: 999;
		padding: 50px 0 0 0;
		display: none;
		i {
			color: $title;
			display: block;
			line-height: 20px;
		}
		&__info {
			margin: 25px 0 0 0;
			* {
				color: #FFF;
			}
			p {
				margin: 0;
			}
			a {
				text-decoration: underline;
				font-family: 'FiraSansCondensed-Regular';
			}
			a:hover {
				color: #FFF;
				text-decoration: none;
			}
		}
		&__tel {
			font-size: 24px;
			font-family: 'FiraSansCondensed-Medium';
			line-height: 30px;
		}
		&__email {
			font-family: 'FiraSansCondensed-Light';
		}
		&__addr {
			font-family: 'FiraSansCondensed-Regular';
		}
		&__forms {
			margin: 25px 0 40px 0;
			input[type="radio"] {
				display: none;
			}
			label {
				width: 50%;
				display: block;
				float: left;
				margin: 0;
				border: 2px solid $mob-menu_item;
				color: #FFF;
				line-height: 40px;
				font-family: 'FiraSansCondensed-Medium';
				margin: 0 0 20px 0;
			}
			label[for*='-callback'] {
				border-radius: 5px 0 0 5px;
			}
			label[for*='-write'] {
				border-radius: 0 5px 5px 0;
			}
			input[type="radio"]:checked + label{
				background-color: $mob-menu_item;
			}
			input[id*='-callback']:checked ~ .mob-contacts__callback {
				display: block;
			}
			input[id*='-write']:checked ~ .mob-contacts__write {
				display: block;
			}
		}
		&__write,
		&__callback {
			display: none;
			textarea,
			input {
				margin: 0 0 10px 0;
			}
			textarea {
				min-height: 80px;
			}
		}
	}
	.mob-menu_sub {
		background-color: $menu_hover;
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 16px;
		z-index: 999;
		padding: 55px 0 0 0;
		display: none;
	}
		.mob-menu_sub > ul {
			margin: 0;
		}
		.mob-menu_sub > ul > li {
			list-style: none;
		}
	.header__search-submit_mob {
		right: 13px;
		top: 13px;
	}
	.menu {
		display: none;
	}
}
