.news {
	&__item {
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid $news_border;
		p:last-child {
			margin: 0;
		}
	}
	&__wrap:last-child > .news__item {
		border: 0;
	}
	&__title {
		color: $news_title;
		font-size: 18px;
		font-family: 'FiraSansCondensed-Bold';
	}
	&__title:hover {
		color: $news_title-hover;
	}
	&__time {
		margin: 0 0 15px 0;
		color: $news_time;
		font-size: 14px;
	}
	&__back {
		display: inline-block;
		margin: 150px 0 40px 0;
		color: $news_title;
		font-size: 14px;
		font-family: 'FiraSansCondensed-Light';
	}
	&__back::before {
		content: "";
		background-image: url(../img/news-back.png);
		background-repeat: no-repeat;
		width: 14px;
		height: 14px;
		display: inline-block;
		position: relative;
		top: 2px;
		margin: 0 10px 0 0;
	}
	&__back:hover {
		text-decoration: underline;
	}
}
@media (max-width: 639px) {
	.news {
		&__title {
			font-size: 15px;
		}
		&__back {
			display: block;
			margin: 65px 0 30px 0;
			text-align: center;
		}
	}
}
