.rir-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.rir-file + label {
	padding: 0 15px;
	border-radius: 5px;
	background-color: $block-header;
	color: $main-color;
	font-family: 'FiraSansCondensed-Regular';
	line-height: 40px;
}
.order-size {
	color: $block-header-text !important;
}
.change span{
	color: $main-text;
}
.order {
	float: right;
	&__wrap {
		padding: 30px;
		background-color: $block-header;
	}
	&__title {
		color: $main-text;
		font-family: 'FiraSansCondensed-Bold';
		font-size: 18px;
	}
	&__total {
		margin: 10px 0 0 0;
	}
	.product__features-val {
		width: auto;
	}
	.product__features-val,
	.product__features-name {
		background-color: $block-header;
		font-size: 15px;
	}
	.product__features-name_total {
		font-size: 18px;
	}
	.product__features-val_total {
		font-size: 24px;
		line-height: 24px;
	}
}
@media (max-width: 639px) {
	.order {
		margin: 0 0 30px 0;
	}
}
