.pagination {
	margin: 1.875rem 0 50px 0;
	* {
		font-family: 'FiraSansCondensed-Regular';
		font-size: 15px;
	}
	.current {
		background-color: $pagination_active;
		padding: .25rem .695rem;
	}
	.ellipsis::after {
		color: $pagination_active;
	}
	a,
	button {
		color: $pagination_active;
		transition: .2s;
	}
	a:hover,
	button:hover {
		background-color: $pagination_active;
		color: #FFF;
	}
}
	.pagination-previous.disabled,
	.pagination-next.disabled {
		color: $pagination_prev;
	}
	.pagination-next a:hover,
	.pagination-previous a:hover {
		background-color: transparent;
		color: $pagination_active;
		text-decoration: underline;
	}

.pagination-next a::after,
.pagination-next.disabled::after,
.pagination-previous a::before,
.pagination-previous.disabled::before {
	content: "";
	display: none;
}

@media (max-width: 639px) {
	.pagination-wrap {
		text-align: center;
	}
		.pagination {
			display: inline-block;
			li {
				display: inline-block;
			}
		}
			.pagination-previous a::before,
			.pagination-previous.disabled::before {
				content: "<";
				display: inline-block;
			}
			.pagination-next a::after,
			.pagination-next.disabled::after {
				content: ">";
				display: inline-block;
			}
			.pagination-previous span,
			.pagination-next span {
				display: none;
			}
}
