.popup-btn {
	position: fixed;
	right: 0;
	width: 50px;
	min-height: 150px;
	border-radius: 5px 0 0 5px;
	background-color: $menu_hover;
	color: #FFF;
	z-index: 1000;
	cursor: pointer;
	transition: .2s;
	p {
		right: -60px;
		position: absolute;
		margin: 0;
		padding-left: 15px;
		line-height: 50px;
		text-align: center;
		transform: rotate(-90deg);
		font-family: 'FiraSansCondensed-Medium';
		font-size: 14px;
		color: #FFF;
	}
	p::before {
		content: "";
		position: absolute;
		background-repeat: no-repeat;
		height: 22px;
		left: 15px;
		top: 15px;
		transform: rotate(90deg);
	}
}
.popup-btn:hover {
	background-color: $menu_color;
}
.popup-btn_call {
	top: 122px;
	height: 170px;
	p {
		width: 170px;
		top: 60px;
		right: -60px;
	}
	p::before {
		width: 22px;
		background-image: url(../img/popup-call.png);
	}
}
.popup-btn_write {
	top: 302px;
	height: 160px;
	p {
		top: 55px;
		right: -55px;
		width: 160px;
	}
	p::before {
		width: 18px;
		background-image: url(../img/popup-write.png);
	}
}
.popup-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $popup-back;
	z-index: 1001;
}
.popup {
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 35px 40px 20px 40px;
	background-color: $menu_hover;
	color: #FFF;
	z-index: 1002;
	display: none;
	&__title {
		font-family: 'FiraSansCondensed-Medium';
		font-size: 22px;
		line-height: 1.1;
		margin: 0 0 30px 0;
		display: inline-block;
	}
	&__close {
		position: absolute;
		top: 40px;
		right: 40px;
		cursor: pointer;
	}
	&__close::after {
		content: "";
		background-image: url(../img/close-icon.png);
		background-repeat: no-repeat;
		width: 12px;
		height: 14px;
		display: block;
	}
	&__form {
		textarea {
			height: 80px;
		}
		textarea,
		input {
			margin: 0 0 15px 0;
			font-size: 14px;
		}
	}
	&__footer {
		width: 100%;
		margin: 20px 0 0 0;
		text-align: center;
		color: $mob-search_result;
		font-family: 'FiraSansCondensed-Regular';
		font-size: 14px;
		span {
			color: #FFF;
			cursor: pointer;
		}
		span:hover {
			text-decoration: underline;
		}
	}
}
.popup_callback {
	width: 330px;
	height: 255px;
}
.popup_write {
	width: 330px;
	height: 350px;
}

@media (max-width: 780px) {
	.popup-btn {
		display: none;
	}
}
