.product {
	&__wrap {
		float: left;
		width: 100%;
		height: 100%;
		border-top: 1px solid $line-color;
		border-bottom: 1px solid $line-color;
	}
	&__wrap::before,
	&__wrap::after {
		content: "";
		display: table;
		clear: both;
	}
	&__anchor {
		margin: 25px 0 10px 0;
		a {
			color: $main-color;
			margin: 0 25px 0 0;
		}
		a:last-child {
			margin: 0;
		}
		a:hover {
			color: $main-color-hover;
		}
	}
	&__features {
		width: 100%;
		ul {
			margin: 0;
		}
		li {
			display: block;
			position: relative;
			overflow: hidden;
		}
		li::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 8px;
			border-top: 1px dotted $product-features;
		}
	}
	&__features-name {
		display: inline-block;
		position: relative;
		padding: 0 5px 0 0;
		color: $product-features;
		background-color: #FFF;
		font-family: 'FiraSansCondensed-Light';
		z-index: 100;
	}
	&__features-val {
		display: inline-block;
		position: absolute;
		width: 70%;
		top: 0;
		right: 0;
		padding: 0 0 0 5px;
		color: $title;
		background-color: #FFF;
		font-family: 'FiraSansCondensed-Light';
		z-index: 100;
		b {
			font-family: 'FiraSansCondensed-Medium';
		}
	}
	&__options {
		margin: 15px 0 0 0;
		padding: 20px 20px 5px 20px;
		background-color: $product-options;
		ul {
			margin: 0;
			font-size: 0;
			li {
				display: inline-block;
				list-style: none;
				width: 70px;
				height: 70px;
				margin: 0 15px 15px 0;
				border: 2px solid #FFF;
				cursor: pointer;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			li.none {
				opacity: .4;
				cursor: not-allowed;
			}
		}
		.select {
			border: 2px solid $main-color;
		}
	}
	&__order {
		margin: 25px 0;
	}
	&__order::before,
	&__order::after {
		content: "";
		display: table;
		clear: both;
	}
	&__sum {
		display: inline-block;
		margin: 0 0 10px 0;
		font-size: 36px;
		color: $title;
		line-height: 1;
	}
   &__how-rub {
      display: block;
      a {
         text-decoration: none;
         border-bottom: 1px dashed #1779ba;
      }
   }
   &__how-rub:hover {
      a {
         border-bottom: 1px solid #1779ba;
      }
   }
	&__label {
		display: block;
		color: $product-features;
		font-size: 13px;
		font-family: 'FiraSansCondensed-Light';
	}
	&__alert {
      position: relative;
      bottom: 65px;
		float: left;
		width: 170px;
      min-width: 125px;
		padding: 7px 8px;
		border-radius: 5px;
		color: $alert-attention;
		background-color: $alert-attention_back;
		font-size: 13px;
		line-height: 1;
	}
	&__video {
		margin: 0 0 40px 0;
		iframe {
			width: 750px;
			height: 420px;
		}
	}
}
.title-product {
	margin: 25px 0;
}
/* -----  slider  ----- */

.product-slider {
	margin: 25px 0;
	&__nav-item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		background-color: rgba(75, 49, 9, .5);
	}
	&__img {
		height: 350px;
		object-fit: cover;
	}
	&__nav {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	&__img_nav {
		height: 94px;
	}
}
.slick-current:active {
	outline: none;
}
.slick-current > .product-slider__nav-item {
	display: block;
}
.slick-slide {
	position: relative;
	text-align: center;
	outline: none;
}
	.slick-slide > img {
		display: inline-block;
	}
.slick-slide:hover .product-slider__nav-item {
		display: block;
}

.slick-prev:before, [dir=rtl] .slick-next:before,
.slick-next:before, [dir=rtl] .slick-prev:before {
	content: "";
	background-image: url(../img/product-arrow.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block;
}
.slick-prev:before, [dir=rtl] .slick-next:before {
	transform: rotate(180deg);
}

.owl-carousel-interest {
	.brand-item__img {
		img {
			width: auto;
			height: 100%;
			object-fit: cover;
		}
	}
	.owl-nav {
		display: block !important;
		top: -35px;
		right: 0;
		width: 50px;
	}
	.owl-prev {
		left: 0;
	}
	.owl-next {
		right: 0;
	}
	.owl-prev,
	.owl-next {
		width: 20px !important;
		height: 20px !important;
		margin: 0 !important;
	}
	.owl-prev::before {
		right: 3px;
		background-size: 50%;
	}
	.owl-next::before {
		right: 2px;
		background-size: 50%;
	}
	.owl-next::before, .owl-prev::before {
		top: 5px;
	}
	.brand-item {
		margin: 0 0 50px 0;
	}
}

/* -----  ------  ----- */
@media (max-width: 1023px) {
	.product__video iframe {
		width: 470px;
		height: 260px;
	}
}
@media (max-width: 1000px) {
	.product-slider__img_nav {
		height: 74px;
	}
}
@media (max-width: 900px) {
	.product-slider__img_nav {
		height: 64px;
	}
}
@media (max-width: 800px) {
	.product-slider__img_nav {
		height: 54px;
	}
   .product__alert {
      bottom: 0;
      width: 100%;
      margin: 15px 0 0 0;
   }
}
@media (max-width: 639px) {
	.product {
		&__anchor {
			text-align: center;
		}
		&__options {
			ul {
				li {
					width: 50px;
					height: 50px;
				}
			}
		}
		&__features-val {
			width: auto;
		}
		&__order {
			margin: 10px 0 25px 0;
		}
		&__form {
			float: left;
		}
		&__sum {
			float: left;
			margin: 25px 40px 0 0;
		}
		&__alert {
         bottom: 0;
			width: 100%;
			height: auto;
			margin: 10px 0 0 0;
		}
		&__video {
			iframe {
				width: 100%;
				height: 165px;
			}
		}
	}
	.title-product {
		text-align: left;
	}
	.rir-input_product {
		width: 55px;
		padding-right: .5rem;
	}
	.rir-btn_product {
		margin: 0;
	}
	.owl-carousel-interest {
		.owl-nav {
			display: block !important;
			top: -28px;
			right: 0;
			width: 100%;
		}
	}
	.title-product_interest {
		text-align: center;
	}
}
