.retail {
	&__item {
		padding: 30px 0;
		border-bottom: 1px solid $block-header;
		.columns {
			padding: 0;
		}
		.product__features-val {
			width: 60%;
		}
		a {
			color: $main-color;
		}
		a:hover {
			color: $main-color-hover;
			text-decoration: underline;
		}
		li::before,
		li::after {
			content: "";
			display: table;
			clear: both;
		}
		.product__features li {
			margin: 0 0 3px 0;
		}
		.product__features li::after {
			bottom: auto;
			top: 15px;
		}
	}
	&__item::before,
	&__item::after {
		content: "";
		display: table;
		clear: both;
	}
	&__item:last-child {
		border-bottom: 0px;
	}
	&__title {
		font-size: 18px;
		font-family: 'FiraSansCondensed-Bold';
	}
	&__img {
		padding: 45px 0 0 0 !important;
		img {
			object-fit: cover;
		}
	}
	&__city {
		font-size: 16px;
		font-family: 'FiraSansCondensed-Bold';
	}
}
@media (max-width: 639px) {
	.retail {
		&__img {
			text-align: center;
			padding: 0 0 30px 0 !important;
		}
	}
	.retail__item .product__features-val {
		width: 50%;
	}
}
