.section-block {
	position: relative;
	height: 160px;
	overflow: hidden;
	font-family: 'FiraSansCondensed-Medium';
	font-size: 16px;
	margin-bottom: 1.875rem;
	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-right: .9375rem;
		padding-left: .9375rem;
	}
	&__link > a {
		position: relative;
		width: 100%;
		height: 100%;
		background: rgba(0,84,183,.8);
		top: 0;
		left: 0;
		display: block;
		transition: .15s;
	}
	&__link > a:hover {
		background: rgba(75, 49, 9, .5);
	}
	&__title {
		color: #FFF;
		padding: 20px;
	}
	&__arrow {
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
}
	.section-block {
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: 80%;
	}

@media (max-width: 639px) {
	.section-block {
		height: 70px;
		margin: 0 0 5px 0;
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 160px;
		&__title {
			display: inline-block;
			font-size: 15px;
			padding-top: 15px;
			padding-right: 40px;
			line-height: 22px;
		}
		&__arrow {
			right: 20px;
			top: 25px;
			left: auto;
		}
	}
}
