.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: $menu_color;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: $slider_dots_hover;
}
.owl-dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -36px;
}
.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -20px !important;
}
.owl-theme .owl-nav [class*=owl-] {
	position: absolute;
	background-color: $slider_prev;
	border-radius: 50%;
	width: 33px;
	height: 33px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
	background-color: $slider_prev_hover;
}
.owl-prev {
	left: 20px;
}
.owl-next {
	right: 20px;
}
.owl-prev::before {
	content: "";
	position: absolute;
	top: 8px;
	right: 12px;
	width: 10px;
	height: 18px;
	display: inline-block;
	background: url(../img/arrow_slider_left.png) no-repeat;
}
.owl-next::before {
	content: "";
	position: absolute;
	top: 8px;
	right: 10px;
	width: 10px;
	height: 18px;
	display: inline-block;
	background: url(../img/arrow_slider_right.png) no-repeat;
}
.owl-carousel-slider__info {
	position: absolute;
	top: 27%;
	left: 10%;
	color: $slider_text;
	p {
		font-size: 28px;
		font-family: 'FiraSansCondensed-Regular';
	}
	p:first-child {
		font-family: 'FiraSansCondensed-Bold';
		font-size: 38px;
		margin: 0;
	}
	a {
		display: inline-block;
		margin: 15px 0 0 0;
	}
	a:hover {
		color: #FFF;
	}
}
