.subscription {
	margin: 25px auto;
	display: inline-block;
	* {
		float: left;
		margin-left: 15px;
	}
	span {
		font-size: 14px;
		font-family: 'FiraSansCondensed-Medium';
		color: $title;
		width: 230px;
		text-align: left;
		line-height: 17px;
		margin-left: 0;
	}
}
.subscription::before,
.subscription::after {
	content: "";
	display: table;
	clear: both;
}
.rir-input_subscription {
	width: 300px;
	height: 35px;
}

@media (max-width: 1023px) {
	.subscription {
		span {
			display: block;
			width: auto;
			float: none;
			text-align: center;
			margin: 0 0 15px 0;
		}
		input[type=email] {
			margin-left: 0;
		}
	}
}
@media (max-width: 639px) {
	.subscription {
		text-align: center;
		*{
			float: none;
		}
		input[type=email] {
			width: 100%;
			margin: 0 0 15px 0;
		}
		input[type=submit] {
			margin: 0;
		}
	}
}
