.text-info {
	margin: 0 0 30px 0;
	p:last-child {
		margin: 0;
	}
}
@media (max-width: 639px) {
	.text-info {
		p {
			display: none;
		}
		p:first-child {
			display: block;
		}
		.read-all {
			color: $menu_color;
			display: block;
			margin: 25px 0 0 0;
			cursor: pointer;
		}
		.read-all:hover {
			text-decoration: underline;
		}
	}
}
