.thank {
	&__title {
		margin-top: 35px;
	}
	&__number {
		margin: 0;
		font-family: 'FiraSansCondensed-Bold';
	}
	p {
		font-size: 16px;
	}
	&__subscription {
		margin: 75px 0 105px 0;
		padding: 0 25px;
		border: 4px solid $block-header;
		.subscription {
			span {
				float: none;
				display: block;
				width: auto;
				margin: 0 0 25px 0;
				text-align: center;
			}
		}
	}
}
@media (max-width: 639px) {
	.thank {
		p {
			margin: 0;
		}
		&__subscription {
			margin: 50px 0 80px 0;
		}
	}
}
