	</div>
	<footer>
		<div class="row">
			<div class="columns large-9 medium-9 small-12">
				<ul class="footer__menu">
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Бренды</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Розница</a></li>
					<li><a href="#">Сертификаты</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<p class="footer__cop">© ООО “РИР Комплектация”, 2017 г.</p>
			</div>
			<div class="columns large-3 medium-3 small-12 footer__info">
				<p class="footer__info-title">Звоните:</p>
				<b>+7 (495) 937-86-64</b>
				<b>+7 (495) 937-86-65</b>
				<p>e-mail: <a href="mailto:rir@rir.ru">rir@rir.ru</a></p>
			</div>
			<p class="footer__cop-mob">© ООО “РИР Комплектация”, 2017 г.</p>
		</div>
	</footer>
	<article>
		<div class="popup-btn popup-btn_call">
			<p>Заказать звонок</p>
		</div>
	</article>
	<article>
		<div class="popup-btn popup-btn_write">
			<p>Напишите нам</p>
		</div>
	</article>
	<div class="popup popup_callback">
		<div class="mob-contacts__callback">
			<span class="popup__title">Заказать звонок</span>
			<button type="button" class="popup__close"></button>
			<form action="#" class="popup__form">
				<input type="text" placeholder="Укажите Ваш телефон" class="rir-input  rir-input_mob-search">
				<input type="submit" value="Позвоните мне" class="rir-btn rir-btn_mob">
			</form>
			<p class="popup__footer">или <span class="popup_callback-write">Написать нам</span></p>
		</div>
	</div>
	<div class="popup popup_write">
		<div class="mob-contacts__write">
			<span class="popup__title">Написать нам</span>
			<button type="button" class="popup__close"></button>
			<form action="#" class="popup__form">
				<input type="email" placeholder="Укажите Ваш email" class="rir-input  rir-input_mob-search">
				<textarea placeholder="Сообщение" class="rir-input  rir-input_mob-search"></textarea>
				<input type="submit" value="Отправить" class="rir-btn rir-btn_mob">
			</form>
		</div>
		<p class="popup__footer">или <span class="popup_write-callback">Заказать звонок</span></p>
	</div>
</div>
