<div class="horizontal-line"></div>
<section>
	<div class="row">
		<div class="columns large-12 medium-12 small-12 text-center">
			<form class="subscription">
				<span>Подпишитесь на нашу рассылку, чтобы быть в курсе новинок и акций</span>
				<input type="email" placeholder="Введите Ваш E-mail" class="rir-input rir-input_subscription">
				<input type="submit" value="Подписаться" class="rir-btn">
			</form>
		</div>
	</div>
</section>
