@import "foundation-sites/dist/css/foundation.css";
@import "owl.carousel/dist/assets/owl.carousel.css";
@import "owl.carousel/dist/assets/owl.theme.default.css";
@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";
@import "parts/colors.css";
@import "parts/font.css";
@import "parts/input.css";
@import "parts/header.css";
@import "parts/menu.css";
@import "parts/slider.css";
@import "parts/section-block.css";
@import "parts/advantages.css";
@import "parts/brand.css";
@import "parts/subscription.css";
@import "parts/btn.css";
@import "parts/information.css";
@import "parts/footer.css";
@import "parts/component.css";
@import "parts/popup.css";
@import "parts/breadcrumbs.css";
@import "parts/text.css";
@import "parts/pagination.css";
@import "parts/news.css";
@import "parts/product.css";
@import "parts/contacts.css";
@import "parts/basket.css";
@import "parts/ordering.css";
@import "parts/filter.css";
@import "parts/retail.css";
@import "parts/thank.css";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
	font-family: 'FiraSansCondensed-Regular';
}
i {
	font-family: 'FiraSansCondensed-LightItalic';
	font-size: 16px;
}
b {
	font-family: 'FiraSansCondensed-Bold';
	color: $main-text;
}
p {
	font-family: 'FiraSansCondensed-Light';
	font-size: 14px;
	line-height: 1.4;
	color: $main-text;
}
li {
	color: $main-text;
	font-size: 14px;
	font-family: 'FiraSansCondensed-Light';
}
label {
	font-size: 13px;
	color: $main-text;
	font-family: 'FiraSansCondensed-Light';
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'FiraSansCondensed-Bold';
	color: $title;
}
h1 {
	font-size: 30px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	margin-bottom: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: left;
}
.rir-title {
	margin: 30px 0;
	font-size: 24px;
}
.horizontal-line {
	border-bottom: 2px solid $horizontal-line;
}
.horizontal-line-dark {
	border-bottom: 2px solid $footer_line;
}
.horizontal-line-dark_text {
	margin: 5px 0 30px 0;
}
.horizontal-line-dark_news {
	margin: 0 0 0 0;
}
.horizontal-line-dark_catalog {
	margin: 0 0 25px 0;
}
@media (max-width: 1023px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
	}
}
@media (max-width: 639px) {
	h1,
	h2 {
		font-size: 18px;
		text-align: center;
	}
	.rir-title {
		font-size: 18px;
	}
}
